/* ===========================
   Main CSS - projeto-costa-verde
=========================== */

/* ---------------------------
   Base
--------------------------- */
@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/base.css";

/* ---------------------------
   Componentes
--------------------------- */
@import "./components/buttons.css";
@import "./components/navbar.css";
@import "./components/footer.css";
@import "./components/formulario.css";



/* ---------------------------
  icons
--------------------------- */
@import "./icons/icons.css";

/* ---------------------------
   Páginas
   (Home, Hero, Services, etc.)
   Aqui você pode importar páginas específicas se quiser
--------------------------- */
@import "./pages/hero.css";
@import "./pages/hero-extras.css";
@import "./pages/services.css";

/* ===========================
   Fim do Main CSS
 =========================== */

