@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body{
    font-family:  "inter", sans-serif;
    background-color: var(--background);
    color: var(--forenground);
    line-height: 1.6;
    background-image: radial-gradient(
    circle at 50% 0%,
    hsla(210,100%,40%, 0.05) 0%,
    transparent 50%
    );
}

img{
    max-width: 100%;
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}